<div class="vgmusic-mood-widget-content">
  <div class="mood-active-bar">
    {{#if activeMoodObj}}
    <span class="mood-active-badge" style="background-color: {{activeMoodObj.color}};">
      <i class="{{activeMoodObj.icon}}"></i> {{localize activeMoodObj.label}}
    </span>
    {{else}}
    <span class="mood-active-badge default">
      <i class="fas fa-music"></i> {{localize "VGMusic.Default"}}
    </span>
    {{/if}}
  </div>

  <div class="mood-widget-pills">
    {{#each moods}}
    <button type="button" class="mood-pill {{#if this.isActive}}active{{/if}}" data-action="setMood" data-mood-id="{{this.id}}" data-tooltip="{{localize this.label}}" style="--mood-color: {{this.color}};">
      <i class="{{this.icon}}"></i>
      <span>{{localize this.label}}</span>
    </button>
    {{/each}}
  </div>
</div>
